<div class="alert alert-danger" *ngIf="errorMsg" role="alert">
  {{errorMsg}}
</div>
<h3>{{book.title ? 'Editando: '+book.title:'Nuevo'}}</h3>
<form>
  <div class="form-group row">
    <label for="" class="col-sm-2 col-form-label">Titulo</label>
    <div class="col-sm-10">
      <input type="text" placeholder="Titulo" [(ngModel)]="book.title" name="title">
    </div>
  </div>
  <div class="form-group row">
    <label for="" class="col-sm-2 col-form-label">Autor</label>
    <div class="col-sm-10">
      <input type="text" placeholder="Autor" [(ngModel)]="book.writer" name="writer">
    </div>
  </div>
  <div class="form-group row">
    <label for="" class="col-sm-2 col-form-label">Páginas</label>
    <div class="col-sm-10">
      <input type="number" placeholder="Páginas" [(ngModel)]="book.pages" name="pages">
    </div>
  </div>
  <div class="form-group row">
    <label for="" class="col-sm-2 col-form-label">Editorial</label>
    <div class="col-sm-10">
      <input placeholder="Editorial" [(ngModel)]="book.editorial" name="editorial">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-9 col-sm-3">
      <button type="button" (click)="saveChanges()" class="btn btn-success">Guardar</button>
    </div>
  </div>
</form>