<h1>Libros</h1>
<div class="col-sm-offset-9 col-sm-3">
  <button type="button" class="btn button-generic" routerLink="/new" >Nuevo</button>
</div>
<br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Titulo</th>
      <th>Autor</th>
      <th>Páginas</th>
      <th>Editorial</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let book of books">
      <td>{{book.title}}</td>
      <td>{{book.writer}}</td>
      <td>{{book.pages}}</td>
      <td>{{book.editorial}}</td>
      <td> <a (click)="onSelect(book)" > <fa name="edit" size="2x"></fa></a></td>
      <td> <a (click)="deleteBook(book)"> <fa name="minus-circle" size="2x"></fa></a></td>
    </tr>
  </tbody>
</table>